{% extends 'base.html' %}

{% block title %}
    ประวัติส่วนตัว
{% endblock %}

{% block content %}
<!-- Content Row -->
<div class="container">
    <div class="row">
        <!-- Personal Information -->
        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4 card-custom">
                <div class="card-header py-4">
                    <h5 class="m-0 font-weight-bold text-primary">ประวัติส่วนตัว</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">ชื่อ : นางสาววรรณกานต์ สมทิพย์</p>
                    <p class="card-text">ชื่อเล่น : ฟา โล่</p>
                    <p class="card-text">อายุ : 19 ปี</p>
                    <p class="card-text">ที่อยู่ : 789 ถนนพีดีจี, เขตอีจีเอ, เมืองหลวง 00231</p>
                    <p class="card-text">อีเมล : xyffge@tangLok.com</p>
                    <p class="card-text">โทรศัพท์ : 001-0221-99</p>
                </div>
            </div>
        </div>

        <!-- Biography -->
        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4 card-custom">
                <div class="card-header py-4">
                    <h5 class="m-0 font-weight-bold text-primary">ประวัติการศึกษา</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">จบจากโรงเรียนกำแพง</p>
                    <p class="card-text">ปัจจุบันศึกษาที่มหาวิทยาลัยราชภัฎศรีสะเกษ</p>
                    <p class="card-text">คณะศิลปศาสตร์และวิทยาศาสตร์</p>
                    <p class="card-text">สาขาวิทยาการคอมพิวเตอร์</p>
                    <p class="card-text">ชั้นปีที่ 2</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
