{% extends 'base.html' %}

{% block title %}
    ประวัติส่วนตัว
{% endblock %}

{% block content %}
<!-- Content Row -->
<div class="container">
    <div class="row">
        <!-- Personal Information -->
        <div class="col-lg-6 mb-6">
            <div class="card shadow mb-6">
                <div class="card-header py-6">
                    <h10 class="m-0 font-weight-bold text-primary">ประวัติส่วนตัว</h11>
                </div>
                <div class="card-body">
                    <p class="card-text">ชื่อ: <strong>นางสาววรรณกานต์ สมทิพย์</strong></p>
                    <p class="card-text">ชื่อเล่น: <strong>ฟา โล่</strong></p>
                    <p class="card-text">อายุ: <strong>1,000 ปี</strong></p>
                    <p class="card-text">ที่อยู่: <strong>789 ถนนพีดีจี, เขตอีจีเอ, เมืองหลวง 00231</strong></p>
                    <p class="card-text">อีเมล: <strong>xyffge@tangLok.com</strong></p>
                    <p class="card-text">โทรศัพท์: <strong>001-0221-99</strong></p>
                </div>
            </div>
        </div>

        <!-- Biography -->
        <div class="col-lg-6 mb-6">
            <div class="card shadow mb-6">
                <div class="card-header py-6">
                    <h11 class="m-0 font-weight-bold text-primary">ประวัติการศึกษา</h11>
                </div>
                <div class="card-body">
                    <p><strong>จบจากโรงเรียนกำแพง</strong></p>
                    <p><strong>ปัจจุบันศึกษาที่มหาวิทยาลัยราชภัฎศรีสะเกษ</strong></p>
                    <p><strong>คณะศิลปศาสตร์และวิทยาศาสตร์</strong></p>
                    <p><strong>สาขา วิทยาการคอมพิวเตอร์</strong></p>
                    <p><strong>ชั้นปีที่ 2</strong></p>

                </div>
            </div>
        </div>
{% endblock %}
